.portfolioButton {
    display: flex;
    position: relative;
    padding: 1.875rem 3.75rem 1.875rem 3.75rem;
    gap: 0.625rem;
    border: 1px var(--jumbo) solid;
    border-radius: 1000px;
    width: 28.4375rem;
    color: var(--background);
    justify-content: center;
    align-items: center;
    .portfolioButton > * {
        font-size: var(--button);
        font-weight: 400;
    }
}